<style children="dl.not-prose { display: grid; grid: auto-flow / max-content 1fr; gap: 0.8em }" />
<style children=".signature > .flex { margin-right: -34px }" />
<style children=".signature > .flex > :first-child { flex-grow: 1 }" />
<style children=".signature:first-child > .flex { margin-top: 0 }" />
<style children=".signature:not(:has(+ .signature)) > .flex:last-child .mb-5 { margin-bottom: 0 }" />
<style children=".signature:not(:first-of-type) { border-top: solid thin var(--twoslash-border-color) }" />
<style children=".method.signature .line:first-child::before { color: var(--shiki-token-function) }" />
<style children=".method.signature[data-scope='.'] .shiki .line:first-child::before { content: '.' }" />
<style children=".method.signature[data-scope='#'] .shiki .line:first-child::before { content: '#' }" />
<style children=".method.signature .shiki .line:first-child > :nth-child(1) { display: none }" />
<style children=".method.signature .shiki .line:first-child > :nth-child(2) { margin-left: -1ex }" />

export const Callout = ({className, icon, children, ...props}) => {
  return (
    <div className={"relative mb-3 flex gap-4 overflow-hidden rounded-xl px-5 py-4 " + className} {...props}>
      { !!icon && <span className="relative top-1 flex-shrink-0">{icon}</span> }
      <span className="[&>p]:m-0">{children}</span>
    </div>
  );
}

export const Constant = ({children}) => {
  [heading, signature] = children;
  heading.props.children = signature;
  signature.props.raw = null;
  return (<div className="constant signature">{heading}</div>);
}

export const MethodSignature = ({scope, children}) => {
  [heading, signature] = children;
  heading.props.children = signature;
  signature.props.raw = null;
  return (<div className="method signature" data-scope={scope}>{heading}</div>);
}

export const Type = ({name}) => (<code className="font-semibold text-xs bg-white/5 px-1.5 py-1 rounded-md">{name}</code>)

export const Param = ({name, type, default: defaultValue, children, ...props}) => {
  return (
    <div {...props}>
      <div className="flex items-center gap-2 not-prose">
        {!!name && <code className="font-bold text-primary">{name}</code>}
        {!!type && <Type name={type} />}
        {!!defaultValue && <em>(defaults to: <code>{defaultValue}</code>)</em>}
      </div>
      {!!children && (
        <div className="[&>:first-child]:mt-0 [&>:last-child]:mb-0 text-sm mt-3">
          {children}
        </div>
      )}
    </div>
  );
}

<% info = indent(yieldall) -%>
<% if info.empty? -%>
<Card icon=<%= icon_for(object).inspect %> title=<%= object.title.inspect%> />
<% else -%>
<Card icon=<%= icon_for(object).inspect %> title=<%= object.title.inspect%>>
<%= info %>
</Card>
<% end %>
